.form {
  display: flex;
  column-gap: var(--space-2);
  align-items: center;
  padding: var(--space-5);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
}

.searchInput {
  flex: 1;
  padding: var(--space-2);
  color: var(--color-text-base);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  transition: border-color var(--transition-fast);
}

.searchInput::placeholder {
  color: var(--color-text-subtle);
}

.submitButton {
  display: grid;
  flex-shrink: 0;
  place-items: center;
  width: calc(var(--space-2) * 2 + 1em * var(--line-height-base) + 2px);
  aspect-ratio: 1/1;
  color: var(--color-surface);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--radius-md);
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
}

.searchIcon {
  width: var(--font-size-md);
  height: auto;
  aspect-ratio: 1/1;
}

/* Interaction */
@media (hover: hover) and (pointer: fine) {
  .searchInput:hover {
    border-color: var(--color-line-strong);
  }

  .submitButton:hover {
    background-color: var(--color-accent-hover);
  }
}

.searchInput:focus {
  outline: var(--color-focus) solid 2px;
  outline-offset: 2px;
}

.submitButton:focus-visible {
  outline: var(--color-focus) solid 2px;
  outline-offset: 2px;
}

.submitButton:active {
  color: var(--color-accent-active);
}
