.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: min(calc(100% - var(--page-padding) * 2), var(--container-width));
  min-height: 100svh;
  padding-block: var(--space-2);
  margin-inline: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  align-items: flex-end;
}

.siteTitle {
  margin-block-end: 0;
  font-family: var(--font-family-title);
  font-size: var(--font-size-xl);
  line-height: 1;
  color: var(--color-text);
}

.subTitle {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-text);
}

.footer {
  text-align: right;
}
